<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- added from octo -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

  {{ if not .Site.Params.disableGoogleFonts }}
    <!-- if local Google fonts are enabled -->
    {{ if not .Site.Params.remoteFonts }}
      <link href="/css/fonts.css" rel="stylesheet" type="text/css">
    {{ else }}
      <link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
      <link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    {{ end }}
  {{ end }}

  <!-- goes into the title bar -->
  <title>{{ if ne .Title $.Site.Title }}{{ .Title }} — {{ end }} {{$.Site.Title}}</title>

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{$.Site.Title}}">
  <meta property="og:title" content="{{ if ne .Title $.Site.Title }}{{ .Title }}{{ end }}">
  <meta property="og:description" content="{{ .Summary }}">
  <meta property="og:url" content="{{.Permalink}}">
  <meta property="og:locale" content="ru_RU">
  {{ if $.Param "image" }}
    <meta property="og:image" content="{{ $.Param "image" | absURL }}">
  {{ end }}
  <!-- / Open Graph -->
  <!-- Twitter -->
  <meta name="twitter:title" content="{{ if ne .Title $.Site.Title }}{{ .Title }}{{ end }}">
  <meta name="twitter:description" content="{{ .Summary }}">
  <meta name="twitter:url" content="{{.Permalink}}">
  <meta name="twitter:domain" content="{{ .Site.BaseURL }}">
  {{ if $.Param "image" }}
    <meta name="twitter:image:src" content="{{ $.Param "image" | absURL }}">
  {{ end }}
  <!-- / Twitter -->

  <!-- css -->
  <!-- original css -->
  <link rel="stylesheet" href="/css/hugo-octopress.css">

  <!-- css overrides -->
  {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
  {{ end }}

  {{ if not .Site.Params.fontAwesome }}
    <link rel="stylesheet" href="/css/fork-awesome.min.css">
  {{ else }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  {{ end }}


  <link rel="canonical" href="{{.Permalink}}"/>

  <!-- Icons -->
  <link href="{{ "/favicon.png" | absURL }}" rel="icon">

  <!-- RSS -->
  {{ with .RSSLink }}<link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />{{ end }}

  <meta name="description" content="{{ .Summary }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  <meta name="author" content="{{ if $.Param "author" }}{{ $.Param "author" }}{{ else }}{{ .Site.Params.author }}{{ end }}">

  <!-- Generator version for usage tacking -->
  {{ .Hugo.Generator }}

  <!-- Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}

  <!-- Enable Twitter card -->
  {{ with .Site.Params.twitterCardEnabled }}
    {{ partial "custom_twitter_card.html" $ }}
  {{ end }}
</head>
<body>

<!-- top header for octopress -->
<header role="banner">{{ partial "octo_header.html" . }}</header>

<!-- navigation -->
<nav role="navigation">{{ partial "navigation.html" . }}</nav>
