<!-- Octopress header partial -->
<hgroup>
	<style type="text/css">

		@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

		header[role=banner] {
			background: #f2f2f2;
			/*background: linear-gradient(90deg, rgba(51,51,51,1) 37%, rgba(255,255,255,1) 100%);*/
		}

		header[role=banner]:after {
			position: absolute;
			font: rgba(0,0,0,0);
			right: 20px;
			text-align: right;
			float: right;
			top: 6px;
			width: 120px;
			height: 120px;
			margin: 0px;
			padding: 0px;
			background-image: url("/torch.svg");
			background-size: contain;
			background-repeat: no-repeat;
		}

		header[role=banner] h1 a {
			display: block;
			height: 100px;
			color: #000 !important;
			word-spacing: 100vw;
			font-size: 40px;
			line-height: 30px;
			font-family: 'Source Sans Pro', sans-serif;
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23000'/%3E%3Crect x='0' y='0' width='22' height='32' fill='%23f00'/%3E%3Crect x='28' y='32' width='24' height='32' fill='%23f00'/%3E%3Crect x='66' y='62' width='22' height='32' fill='%23f00'/%3E%3C/svg%3E");
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		body>header {
			font-size: 1em;
			padding-top: 1em;
			padding-bottom: 0.3em;
		}

		header[role=banner] h1 a:before {
			display: block;
			content: ' ';
			width: 300px;
			height: 100px;
			float: left;
			shape-outside: polygon(0px 32px, 26px 32px, 26px 64px, 64px 64px, 64px 96px, 0px 96px);
		}

		article p {
			text-indent: 20px;
			text-align: justify;
		}
	</style>
  <!-- Remember that .Title will refer to the title of the specific page.
    For index, it's .Site.Title but is different for individual pages -->
  <h1><a href="{{ "/" | absURL }}">{{ .Site.Title }}</a></h1>
    <h2>{{ .Site.Params.subtitle }}</h2>
</hgroup>