<!-- To modify sidebar width check the css file lines 757 and 765 (for large screens) -->

<style>
    .pay-btns {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    .pay-btns button {
        display: inline-block;
        font-size: 80px;
        line-height: 80px;
        width: calc(80px + 20px);
        height: calc(80px + 20px);
        text-align: center;
    }
    .pay-box {
        padding-top: 50px;
        display: block;
        position: absolute;
        margin-top: -140px;
        margin-left: -520px;
        width: 500px;
        height: 200px;
        background: #eee;
    }
    .pay-box h3 {
        text-align: center;
        width: 100%;
    }
    .pay-box p {
        text-align: center;
        width: 100%;
    }
    .pay-box button {
        float: right;
        margin-right: 30px;
    }
    .pay-box:not(.open) {
        display: none;
    }
</style>

<aside class="sidebar thirds">


  <section class="first odd">

    {{ with .Site.Params.sidebarHeader }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}

    <p>
      {{ with .Site.Params.sidebarText }}
        {{ . | markdownify }}
      {{ end }}
    </p>
  </section>

  <section class="even">
    <div class="pay-btns">
      {{ range .Site.Params.Payments }}
        <button class="pay-btn" data-curr="{{ .icon }}">
            <i class="fa fa-{{ .icon }}" aria-hidden="true"></i>
        </button>
      {{ end }}
    </div>
    {{ range .Site.Params.Payments }}
    <div class="pay-box" data-curr="{{ .icon }}">
        <h3>
            {{ .value }}
        </h3>
        <p>
          {{ with $.Site.Params.PaymentsTotal }}
            {{ . | markdownify }}
          {{ end }}
        </p>
        <button class="close">
            закрыть
        </button>
    </div>
    {{ end }}
    <p>
      {{ with $.Site.Params.PaymentsTotal }}
        {{ . | markdownify }}
      {{ end }}
    </p>

    <script>

    document.querySelectorAll('.pay-btn').forEach(e =>
        e.addEventListener('click', e => {
            const curr = e.currentTarget.dataset['curr'];
            document.querySelectorAll('.pay-box').forEach(e=>
                e.classList.remove('open')
            );
            document.querySelector(`.pay-box[data-curr=${curr}]`).classList.add('open');
        }, false)
    );
    document.querySelectorAll('.pay-box .close').forEach(e =>
        e.addEventListener('click', e => {
            document.querySelectorAll('.pay-box').forEach(e=>
                e.classList.remove('open')
            );
        }, false)
    );

    </script>

  </section>

<!-- Font awesome icons - code taken from the Hyde-x theme - "Font Awesome by Dave Gandy - http://fontawesome.io"
     Icons: https://fortawesome.github.io/Font-Awesome/icons/
     to give icons square dark backgrounds use them like this: fa fa-key-square
     size is fa-3x, sizes are 1-5
 -->

  <!-- Sidebar social network icons -->
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item">
      {{ with .Site.Params.github }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-github fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.bitbucket }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-bitbucket fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.gitlab }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-gitlab fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.twitter }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-twitter fa-3x"></i></a>{{ end }}
      {{ if not .Site.Params.fontAwesome }}
        {{ with .Site.Params.keybase }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-keybase fa-3x"></i></a>{{ end }} <!-- added keybase -->
      {{ else }}
        {{ with .Site.Params.keybase }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-key fa-3x"></i></a>{{ end }} <!-- added keybase -->
      {{ end }}
      {{ with .Site.Params.linkedin }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-linkedin fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.stackOverflow }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-stack-overflow fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.googleplus }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-google-plus fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.facebook }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-facebook fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.youtube }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-youtube fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.instagram }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-instagram fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.bitcoin }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fa fa-bitcoin fa-3x"></i></a>{{ end }}

    <!-- Uncomment to add the RSS icon -->
    <!-- {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="RSS"><i class="fa fa-rss-square fa-3x"></i></a>{{ end }} -->
    </li>
  </ul>

  <!-- Sidebar menu - items are read from the config file
       first we check if it is enabled in config file and then start adding items.
       if Site.Params.sidebarNewWindow exists and is set to true then open these links in a new window -->

  {{ with .Site.Params.sidebarMenuEnabled }}
    {{ if eq . true }}
      <section class="odd">
        {{ with $.Site.Params.sidebarMenuHeader }}
          <h2>{{ . }}</h2>
        {{ end }}
        {{ range $.Site.Menus.sidebar }}
          <li>
            <a href="{{ .URL | absURL }}" title="{{ .Name }}" {{ if eq $.Site.Params.sidebarNewWindow true }} target="_blank" {{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </section>
    {{ end }}
  {{ end }}

  <!-- Add recent posts - limit is .Site.Params.sidebarRecentLimit - example copied from https://gohugo.io/templates/go-templates/ -->
  <!-- Only display this section if sideBarRecentLimit is not zero -->
  {{ with .Site.Params.sidebarRecentLimit }}
    {{ if not (eq . 0) }}
      <section class="even">
        <h2>Последние обновления</h2>
        <ul id="recent_posts">
          {{ $pages := where $.Site.Pages "Type" "post" }}
          {{ range first . $pages }}
            {{ if .IsPage }}
              <li class="post">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </section>
    {{ end }}
  {{ end }}
</aside>
